

synthetic_testing/cifar-10-batches-py/batches.meta
synthetic_testing/cifar-10-batches-py/data_batch_1
synthetic_testing/cifar-10-batches-py/data_batch_2
synthetic_testing/cifar-10-batches-py/data_batch_3
synthetic_testing/cifar-10-batches-py/data_batch_4
synthetic_testing/cifar-10-batches-py/data_batch_5
synthetic_testing/cifar-10-batches-py/readme.html
synthetic_testing/cifar-10-batches-py/test_batch
